.card-container {
    background-color: #f4eeff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 25px 20px;

    button {
        color: white;

        img {
            height: 30px;
            width: 25px;
        }
    }
}