#pokeapi {

  header {
    background-color: #ff1e56;

    .container-logo {
      width: 150px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

  }

  .container {
    margin-top: 50px;
  }

  color: #313131;

}